name: Publish

on: 
  release:
    types: [published]

jobs:
  publish:

    runs-on: windows-latest

    steps:
    - uses: olegtarasov/get-tag@v1
      id: tagName
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.100'
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: dotnet test
    - name: Check Version
      run: echo ${{ steps.tagName.outputs.tag }}
    - name: Pack
      run: dotnet pack ./ThreeFourteen.Finnhub.Client.sln --configuration Release -o ./NuGetPackages /p:Version=${{ steps.tagName.outputs.tag }}
    - name: Publish
      run: dotnet nuget push ./NuGetPackages/* -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
